<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="{{ page.root }}{% link _episodes/01-introduction.md %}">Unix Shell recap</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="{{ page.root }}{% link _episodes/02-loop.md %}">Loops in the Unix Shell</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="{{ page.root }}{% link _episodes/02-loop.md %}">Exercises with loops</a></td> </tr>
      <tr> <td>11:15</td>  <td>Refreshments</td> </tr>
      <tr> <td>11:30</td>  <td><a href="{{ page.root }}{% link _episodes/03-regular-expression.md %}">Regular Expressions</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{ page.root }}{% link _episodes/04-sed-and-awk.md %}">Short Introduction to sed & awk</a></td> </tr>
      <tr> <td>15:15</td>  <td>Refreshments</td> </tr>
      <tr> <td>15:30</td>  <td><a href="{{ page.root }}{% link _episodes/05-makefile.md %}">MakeFile</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
